.slider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  visibility: hidden;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  visibility: hidden;
}

.control {
  animation: blend 2s 1;
  visibility: hidden;
}

@keyframes hidding {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}